.SuperAdminDashboard {
  background-color: rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SuperAdmin-content {
  width: 90%;
}

.SuperAdmin-content h1 {
  color: white;
  font-size: 32px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.Admins {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  text-align: left;
}

.Added-admins {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-bar {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 40%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #000000;
  outline: none;
}

.highlight {
  font-weight: bolder;
}
.added-admin-list,
.admin-list {
  top: 50px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.no-users {
  color: #b91111;
  font-size: 18px;

  font-weight: bold;
}

.added-admin-item,
.admin-item {
  display: flex;
  justify-content: space-between; /* Ensures text and button are aligned */
  align-items: center; /* Aligns items vertically */
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.assign-btn {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 100px;
  cursor: pointer;
}

.remove-btn {
  background-color: #bb0d0d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}
.super-admin-tag {
  background-color: #10309a; /* Golden color */
  color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.remove-btn:hover,
.assign-btn:hover {
  background-color: #333;
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.modal-text {
  font-weight: bold;
}
button {
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #545252;
  color: white;
}

.assign-btn {
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.model-yes {
  background-color: rgb(41, 136, 41);
  color: white;
}

.model-cancel {
  background-color: rgb(189, 50, 50);
  color: white;
}
.no-results {
  color: red;

  margin-top: 10px;
}
.clear-icon {
  position: absolute;
  right: 50px;
  top: 45px;
  cursor: pointer;
  color: #ff0000;
  font-size: 12px;
}

.clear-icon:hover {
  color: #333;
}
