.Dashboard-container {
  margin-left: 250px;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  min-height: 100vh;
  flex-direction: column;
}
.Dashboard-container h1 {
  font-size: 35px;
  letter-spacing: 1px;
  margin-left: 30px;
}

.Dashboard-body {
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between columns */
  gap: 1rem; /* Add space between items */
}

.Verifications {
  flex: 1; /* Equal width for each column */
  text-align: center; /* Center content horizontally */
  padding-bottom: 40px;
}

.Verification-content {
  border-radius: 20px;
  height: 400px;
  width: 370px;
  border: 2px solid white;
}

.light-mode .Verification-content {
  border: 2px solid black;
}
.Verification-content h1 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 25px;
}
.Verification-content p {
  margin-left: 5px;
  font-size: 16px;
}

.verify-button {
  background-color: black;
  color: white;
  margin-top: 5px;
  margin-left: 5px;
  width: 310px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid white;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}

.light-mode .verify-button {
  background-color: blue;
  border: 2px solid black;
}
.verify-button:hover {
  transform: scale(1.1);
}

.paragraph h4 {
  margin-top: 10px;
  text-align: center;
  font-size: 10px;

  cursor: pointer;
  text-decoration: underline;
}

.paragraph h4:hover {
  transform: scale(1.1);
  color: blue;
  text-decoration: underline blue;
}
.image {
  margin-left: 5px;
  margin-top: 30px;
}

.Dashboard-Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  background: rgb(0, 0, 0);
  border-radius: 12px;
  bottom: 0;
}

.footer-logo {
  margin-left: 10px;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff00ff, #ff0099, #ff3300, #ff6600);

  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s ease infinite;
  align-items: left;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer-sections {
  margin-left: 100px;
  margin-top: -35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}
.footer-column {
  width: 20%;
}

.footer-column h4 {
  font-size: 25px;
  margin-bottom: 20px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #bbbbbb;
}

.footer-column p {
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #bbbbbb;
}
