body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  margin-left: 280px;
}

.upload-section {
  flex-grow: 1;
  padding: 20px;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  height: 150px;
  text-align: center;
  cursor: copy;
  margin-bottom: 20px;
}

.highlight {
  border-color: #007bff;
}

.upload-label {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.file-display {
  margin-bottom: 20px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
}

.upload-time {
  margin-left: 10px; /* Adjust this value to change the space */
}

.close-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.upload-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:disabled {
  color: white;
  background-color: gray;
  cursor: not-allowed;
}
