/* PeopleAndTerms.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    margin-left: 250px; /* Accounts for sidebar */
    transition: background-color 0.3s ease;
  }
  
  .card {
    width: 450px;
    height: 350px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease, color 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
  }
  