.profile-container {
  border-radius: 10px;
  margin-left: 270px;
}

.light-mode .detail-box {
  width: 60%;
  background-color: #afaeae;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.profile-header {
  display: flex;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.adminlogout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.adminlogout-button:hover {
  background-color: #e60000;
}

.profile-icon {
  color: gray;
}

.profile-details {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-box {
  background-color: white;
  width: 60%;
  padding: 15px;
  border-radius: 8px;
  margin-left: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.detail-box h4 {
  margin: 0;
  color: #333;
}

.detail-box p {
  margin: 5px 0 0;
  color: #555;
}

/* Dark Mode Support */
.dark-mode .profile-container {
  color: white;
}

.dark-mode .detail-box {
  background-color: #444;
  color: white;
}

.dark-mode .detail-box h4 {
  color: white;
}

.dark-mode .detail-box p {
  color: #ddd;
}
