.upload-container {
  height: 100vh;
}

.upload-section {
  margin-left: 320px;
}
.uploadheader {
  display: flex;
  align-items: center;
  gap: 40px;
}

.backbutton {
  cursor: pointer;
  margin-top: 20px;
}

.upload-section h2 {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1px;
}

.drop-area {
  position: relative;
  width: 90%;
  min-height: 200px;
  margin-left: 40px;
  margin-top: 50px;
  border: 2px dashed #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
}

.drop-area.highlight {
  border-color: #4caf50;
  background-color: #f1f8f4;
}

.drop-area p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.upload-label {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: blue;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.upload-label:hover {
  background-color: black;
}

.file-display {
  margin-left: 40px;
  margin-top: 20px;
  max-height: 150px;
  overflow-y: auto;
}

.file-display p {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  width: 92%;
  padding: 10px;
  border-radius: 10px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 92%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.file-item span {
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 40px;
}

.upload-time {
  font-size: 0.9rem;
  font-weight: 700;
}

.closeicon {
  color: #ff0000;
  cursor: pointer;
}

.upload-button {
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  border-radius: 20px;
}

.upload-button:hover:enabled {
  background-color: #45a049;
}

/* Focus and active states for accessibility */

.upload-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
